@import url(reset.css);
/* sub1.css */

/* 폰트 */
/* 영문폰트  */
/* NotoSans 400 700 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
/* roboto 400 500 700 900 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* 한글폰트 */
/* NotoSansKR 400 500 700 900 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

/* common */
body {font-size:14px;line-height:1.6em;font-family:'Noto Sans','Noto Sans KR',Heivetica,sans-serif;color:#101810;}
a {text-decoration:none;color:#101810;}


/* layout */
#wrap {width:100%;}
    #header {
        position:relative;z-index:40;
        width:100%;height:64px;
    }
        .header_wrap {
            position:absolute;left:0;top:0;
            width:100%;height:64px;
        }
            .header_inner {
                position:relative;
                width:100%;height:64px;
                padding:0 280px;box-sizing:border-box;
                background-color:#fff;  
                border-bottom: 1px solid #b2b2b2;              
            }
    #container {
        width:100%;
    }
    #footer {
        width:100%;
        border-top: 1px solid #b2b2b2;  
    }
        .footer_inner {
            position:relative;
            width:1360px;height:340px;margin:60px auto 65px;
        }


/* detail */

/* header */
h1.logo a {
    position:absolute;left:600px;
    display:block;
    margin:18px 0;
    font-size:28px;font-weight:bold;line-height:1.0;
}


/* nav.gnb */
.gnb {
    box-sizing:border-box;margin:0 auto;
    width:fit-content;height:100%;
}
.gnb a {cursor:pointer;}
.list_1, .list_2 {width:fit-content;margin:0 auto;}
.gnb ul:after {content:"";display: block;clear: both;}


/* 메뉴1 */
.gnb .list_1 {width:100%;text-align:center;}
.gnb .list_1 > li {float: left;}
.gnb .list_1 > li > a {
    position: relative;
    display:block;
    padding:20.1px 25px;
    font-size:17px;font-weight:500;line-height:1.4;
}
.gnb .list_1 > li > a:after {
    content:'';
    position: absolute;bottom:0;left:0;
    background:#101820;
    transition: all .4s ease-in-out 0s;
    width:0;height:2px;opacity:0;
}
.gnb .list_1 > li > a:hover:after {width:100%;opacity:1;}


/* 메뉴2 */
.gnb .list_1 > li > div {
    display:none;
    position: absolute;left:0;top:64px;
    width:100%;
    background:#fff;
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
}

.gnb .list_1 > li:hover > div {display:block;}

.gnb .list_2 > li {float:left;margin-right:56px;}
.gnb .list_2 > li > a { 
    position: relative;
    display: block;width:fit-content;
    margin: 20.8px 0;
    font-size:16px;font-weight:500;line-height:1.4;text-align:left;
}
.gnb .list_2 > li > a:after {
    content:'';
    position: absolute;bottom:0;left:0;
    background:#101820;
    transition: all .4s ease-in-out 0s;
    width:0;height:1px;opacity:0;
}
.gnb .list_2 > li > a:hover:after {width:100%;opacity:1;}

.gnb .list_1 > li:nth-child(2) .list_2 > li > a {margin-bottom:3px;}



/* 메뉴3 */
.gnb .list_3 > li > a { 
    position: relative;
    display: block;width:fit-content;
    margin: 20.8px 0;
    font-size:15px;line-height:1.4;text-align:left;
}
.gnb .list_3 > li > a:after {
    content:'';
    position: absolute;bottom:0;left:0;
    background:#101820;
    transition: all .4s ease-in-out 0s;
    width:0;height:1px;opacity:0;
}
.gnb .list_3 > li > a:hover:after {width:100%;opacity:1;}


/* dl.topMenu */
.topMenu {position:absolute;top:0;right:610px;}
.topMenu > dd {float:left;}
.topMenu:after {content:"";display:block;clear:both;}
.topMenu > dd:first-child a {
    display:block;
    width:88px;height:27px;margin:18.5px 0;
    background:url(../images/mall_header2.png) no-repeat 0 0;
    background-size:88px 27px;
    text-indent:-9999px;overflow:hidden;
}
.topMenu > dd:last-child a {
    display:block;
    width:50px;padding:24.5px 30px;
    font-size:15px;font-weight:bold;line-height:1.0;text-align:center;
}
.topMenu > dd:last-child > a {
    background:url(../images/header_arr_down_b.png) no-repeat 80% 45%;
    background-size:14px 14px;
 }
.topMenu > dd:last-child > ul {
    display:none;
    width:100%;height:100%;
    border:1px solid #b2b2b2;border-top:none;box-sizing:border-box;
}
.topMenu > dd:last-child > ul > li > a {color:#b2b2b2;}
.topMenu > dd:last-child > ul > li > a:hover {color:#101810;}
.topMenu > dd:last-child:active > ul {display:block;}
.topMenu > dd:last-child:active > a {background:url(../images/header_arr_up.png) no-repeat 80% 55%;;}


/* btn_srch */
.btn_srch a {
    position: absolute;top:0;right:570px;
    display: block;
    width:21px;height:21px;margin:21.5px 8px;
    background:url(../images/btn_srch_ico_b.png) no-repeat 0 0;
    background-size:cover;
    text-indent:-9999px;overflow:hidden;
}


/* srch_wrap */
.srch_wrap {
    display:none;
    padding-bottom:100px;border-bottom: 1px solid #d8d8d8;
}
.srch_inner {position:absolute;top:0;left:626px;width:670px;margin:0 auto;}
.srch_inner input[type="search"] {
    display:block;
    width:636px;height:19px;padding:22.5px 0;
    font-size:15px;
    box-sizing:border-box;border:none;
}
.srch_inner input:hover[type="search"] {border-bottom:1px solid #b2b2b2;}
button[type="button"] {
    text-indent:-9999px;overflow:hidden;
    width:20px;height:20px;
    border:none;
    background:url(../images/btn_srch_ico_b.png) no-repeat 0 0;
    background-size:cover;
}
.srch_inner h3 {
    margin:34px 0 26px;
    font-size:15px;line-height:1.0;font-weight:bold;
}
.srch_inner ul {padding-bottom:100px;}
.srch_inner li {float:left;}
.srch_inner ul:after {content:"";display:block;clear:both;}
.srch_inner li > a:before {content:"#"}
.srch_inner li > a {
    display:block;padding: 4px 10px;margin-right: 4px;margin-top:10px;
    font-size:16px;
    color:#76777b;background:#f7f7f7;border:1px solid #d8d8d8;border-radius:4px;
}
.srch_wrap a.btn_srch_close {
    position: absolute;right:280px;top:0;
    display:block;text-indent:-9999px;overflow:hidden;
    width:25px;height:25px;
    background:url(../images/btn_close_ico_b.png) no-repeat 0 0;
}

/* container */
#container {width:900px;margin:64px auto 123px;}

/* title */
#container > h2 {
        display:block;
        margin:180px 0 78px; 
        font-size:64px;font-weight:700;text-align:center;
}

/* 경영정보 menu */
.menu {
    display:block;
    width:fit-content;margin:45px auto 50px;
}
.menu:after {content:"";display:block;clear:both;}
.menu > li {float:left;display:block;}
.menu li a {
    display:block;
    padding:6.5px 19.5px;margin-right:5px;
    font-size:16px;line-height:26px;
    border:1px solid #101810;border-radius:5px;
}
.menu li:last-child a {margin-right:0;}
.menu li a:hover,.on a {background:#000;color:#fff;}

/* table */
table {
    margin:0 auto;
    border:1px solid red;
    font-size:15px;color:101820;
    text-align:center;vertical-align:middle;
}

tr {border-left:1px solid #d8d8d8;}
tr:last-child {border-bottom:1px solid #d8d8d8;}

th {background:#efefef;}
th:nth-child(2) {width:402px;}
th,td {
    width:119px;padding:13.5px 15px;
    border-right:1px solid #d8d8d8;border-top:1px solid #d8d8d8;
}

/* page */
.page {
    display:block;
    width:fit-content;margin:112px auto 0;
}
.page > li {float:left;display:block;}
.page:after {content:"";display:block;clear:both;}
.page li a {
    position: relative;
    display:inline-block;
    width:20px;height:26px;margin-right:10px;
    text-align:center;vertical-align:middle;
}
.page li:nth-child(6) a {margin-right:0;}
.page li a:after {
    content:'';
    position: absolute;bottom:0;left:0;
    background:#0071e3;
    transition: all .4s ease-in-out 0s;
    width:0;height:2px;opacity:0;
}
.page li a.on:after {
    background:#101820;opacity:1;width:100%;
}
.page li a:hover{color:#0071e3;font-weight:bold;}
.page li a:hover:after {width:100%;opacity:1;}

.prev a {color:#c9cbcc;margin-right:15px;}
.next a {margin-left:15px;}
.page .prev a:hover, .page .next a:hover {color:#101820;}
.prev a:hover:after, .next a:hover:after {display:none;}



/* footer */
.footer_inner > div:nth-child(1) {position:absolute;top:0;left:0;}
.sitemap {position:absolute;top:0;left:460px;}
.footer_link {position:absolute;bottom:0;left:0;}
.family_site {position:absolute;bottom:0;right:0;}


/* btn_top */
.btn_top {
    position:absolute;top:-18px;right:0;
    display:block;
    width:40px;height:40px;
    background:#101820 url(../images/btn_top_w.png) no-repeat 50% 50%;
}

/* footer_inner > div.1 */
.footer_inner > div:first-child > strong {
    display:block;
    margin-bottom:25px;
    font-size:28px;font-weight:bold;line-height:1.0;
}

.footer_inner > div:first-child > address {
    color:#54565b;line-height:1.5;
}

.footer_inner > div:first-child > span {
    display:block;
    margin:5px 0 30px;
    color:#54565b;
}


/* link_site */
.link_site > li {float:left;}
.link_site:after {content:"";display:block;clear: both;}
.link_site > li > a {
    padding-right:25px;
    font-size:15px;font-weight:bold;font-family:'Roboto',sans-serif;
    background: url(../images/icon_link_site.png) no-repeat 100%;
    background-size:18px;
}
.link_site > li:first-child:after {content:"|";margin:0 10px;color:#54565b;}


/* link_sns */
.link_sns {margin-top:10px;}
.link_sns > li {
    float:left;display:block;
    width:24px;height:26px;padding:10px;
    font-size:24px;
}
.link_sns:after {content:"";display:block;clear: both;}
.link_sns li span {display:none;}
.link_sns > li:first-child {padding-left:0;}
.link_sns > li:last-child {
    background:url(../images/icon_blog_b.png) no-repeat 10px 10px;
    background-size:17px 24px;width:17px;
}


/* footer_inner > div.2 sitemap */
.sitemap > ul > li {float: left;}
.sitemap > ul > li:nth-child(1) {width:130px;}
.sitemap > ul > li:nth-child(2) {width:153px;}
.sitemap > ul > li:nth-child(3) {width:146px;}
.sitemap > ul > li:nth-child(4) {width:113px;}

.sitemap > ul > li > a { 
    position: relative;
    display: block;width:fit-content;
    margin-bottom:25px;
    font-size:15px;font-weight:500;line-height:1.4;
    text-align:left;
}
.sitemap > ul > li > a:after {
    content:'';
    position: absolute;bottom:0;left:0;
    background:#101820;
    transition: all .4s ease-in-out 0s;
    width:0;height:1px;opacity:0;
}
.sitemap > ul > li > a:hover:after {width:100%;opacity:1;}

.sitemap > ul > li > ul > li > a { 
    position: relative;
    display: block;width:fit-content;
    margin: 9px 0;
    font-size:15px;line-height:1.4;
    text-align:left;
}
.sitemap > ul > li > ul > li > a:after {
    content:'';
    position: absolute;bottom:0;left:0;
    background:#101820;
    transition: all .4s ease-in-out 0s;
    width:0;height:1px;opacity:0;
}
.sitemap > ul > li > ul > li > a:hover:after {width:100%;opacity:1;}


/* footer_inner > div.3 footer link */
.footer_link > ul > li {float:left;}
.footer_link > ul > li > a {
    position: relative;
    display: inline-block;width:fit-content;
    color: #54565b;
}
.footer_link > ul > li:nth-child(3) > a {color:#101820;font-weight:bold;}
.footer_link > ul > li > a:hover {color: #101820;}
.footer_link > ul > li > a:after {
    content:'';
    position: absolute;bottom:0;left:0;
    background:#101820;
    transition: all .4s ease-in-out 0s;
    width:0;height:1px;opacity:0;
}
.footer_link > ul > li > a:hover:after {width:100%;opacity:1;}
.footer_link > ul:after {content:"";display:block;clear: both;}
.footer_link > ul > li:after {content:"|";padding:0 12px;color: #54565b;}
.footer_link > ul > li:last-child:after {content:"";padding:0;}


/* footer_inner > div.4 family site */
.family_site h4 {
    width:210px;padding:5px 0;
    border-bottom:1px solid #101820;
    background:url(../images/foot_arr_up.png) no-repeat 100% 50%;
    background-size:10px 10px;
}
.family_site > ul {display:none;}
.family_site > ul {
    position:absolute;bottom:44px;
    width:210px;padding:15px 0;
    border:1px solid #c9cbcc;
    background:#f7f7f7;
}
.family_site:hover > ul {display:block;}
.family_site:hover > h4 {
    background:url(../images/foot_arr_down.png) no-repeat 100% 50%;
    background-size:10px 10px;
}
.family_site > ul > li > a { 
    position: relative;
    display: block;
    width:fit-content;padding:1px 0;margin:0 20px;
    line-height:1.4;text-align:left;
}
.family_site > ul > li > a:after {
    content:'';
    position: absolute;bottom:0;left:0;
    background:#101820;
    transition: all .4s ease-in-out 0s;
    width:0;height:1px;opacity:0;
}
.family_site > ul > li > a:hover:after {width:100%;opacity:1;}


/* btn_mall */
a.btn_mall {
    display:block;
    position:fixed;bottom:15px;right:20px;
    width:110px;height:110px;
    background:url(../images/homepage_banner3.png) no-repeat 0 0;
    background-size:cover;
    text-indent:-9999px;overflow:hidden;
}